exclude *.*
include COPYING
include ez_setup.py
include ez_setup.pyc
include INSTALL
include Manifest.in
include midgardmodule.c
include py_midgard_blob.c
include py_midgard_collector.c
include py_midgard_config.c
include py_midgard_connection.c
include py_midgard_dbobject.c
include py_midgard_dbus.c
include py_midgard.h
include py_midgard_key_config.c
include py_midgard_key_config_context.c
include py_midgard_key_config_file.c
include py_midgard_key_config_file_context.c
include py_midgard_object_attachment.c
include py_midgard_object.c
include py_midgard_object_parameter.c
include py_midgard_query_builder.c
include py_midgard_query_constraint.c
include py_midgard_query_executor.c
include py_midgard_query_holder.c
include py_midgard_query_storage.c
include py_midgard_reflector_object.c
include py_midgard_reflector_property.c
include py_midgard_replicator.c
include py_midgard_schema_object_factory.c
include py_midgard_schema_object_tree.c
include py_midgard_storage.c
include py_midgard_transaction.c
include py_midgard_user.c
include py_midgard_view.c
include setup.py
include setuptools-0.6c11-py2.4.egg
include setuptools-0.6c11-py2.5.egg
include setuptools-0.6c11-py2.6.egg
include setuptools-0.6c9-py2.4.egg
include setuptools-0.6c9-py2.5.egg
graft tests
recursive-include midgard *.py 
